PORT=3000
DATABASE_URL=your_postgres_url_here

JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
JWT_ISSUER=remarket-api
JWT_AUDIENCE=remarket-app


NODE_ENV=development